@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico:wght@400;700&family=Roboto:wght@400;700&display=swap');
@keyframes emoji-bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .animate-emoji .text-xl {
    animation: emoji-bounce 1s infinite;
  }
  /* Animation for Getting Ready status */
/* Animation for Getting Ready status */
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.getting-ready .sticky-note {
  animation: tilt 0.3s ease-in-out infinite;
}

.font-Pacifico {
  font-family: 'Pacifico';
}
.font-Outfit {
  font-family: 'Outfit';

};