@import url('https://fonts.googleapis.com/css2?family=Dancing Script:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson Pro:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico:wght@400;700&family=Roboto:wght@400;700&display=swap');

  
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


button:hover {
  background-color: #0056b3;
}

.completed-orders {
  display: flex;
  flex-direction: column;
}

.completed-order {
  margin-bottom: 1rem;
}


.bg-gradient {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.font-Dancing {
  font-family: 'Dancing Script' ;
}

.font-Gummy {
  font-family: 'Sour Gummy';
};

.font-Crimson {
  font-family: 'Crimson Pro';
};

.font-Chivo {
  font-family: 'Chivo';
};

.font-Pacifico {
  font-family: 'Pacifico';
}

.font-Outfit {
  font-family: 'Outfit';
};

